*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background:#E6D5B8; ;
    background-size: cover;
}
.mainbox{
    position: relative;
    width: 500px;
    height: 500px;
}

.mainbox:after{
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    background: url('arrowleft.png') no-repeat;
    background-size: 32px;
    right: -30px;
    top:50%;
    transform:translateY(-50%);
}

.mainbox.animate:after{
   animation: animateArrow 0.7s ease infinite;
}
@keyframes animateArrow {
    50% {
        right: -40px;
    }
}

.box{
    width:100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid #fff;
    overflow: hidden;
    transition: all ease 5s;
}
span{
    width:50%;
    height:50%;
    display:inline-block;
    position: absolute;
}
.span1{
    clip-path: polygon(0 92%, 100% 50%, 0 8%);
    background-color: #ffeb3b;
    top: 120px;
    left: 0;
}
.span2{
    clip-path: polygon(100% 92%, 0% 50%, 100% 8%);
    background-color: #9C3D54;
    top: 120px;
    right: 0;
}
.span3{
    clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
    background-color: #E2703A;
    bottom: 0;
    left: 120px;
}
.span4{
    clip-path: polygon(50% 100%, 92% 0, 8% 0);
    background-color: #96BB7C;
    top: 0;
    left: 120px;
}
.box2{
    width:100%;
    height:100%;
    transform:rotate(-135deg);
}
span b{
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    background-color: #E6D5B8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: inset 0 3px 3px 0 #717171; */
}
.spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:75px;
    height: 75px;
    border-radius:50%;
    border:3px solid #F0A500; 
    color:#F0A500;
    background-color: #4A3933;
    font-size: 20px;
    cursor: pointer;
}
.spin:active{
    width: 70px;
    height: 70px;
    font-size: 18px;
}